.circle circle {
    fill: lightsteelblue;
    stroke: steelblue;
}
.circle.dragging {
    fill: rgb(0, 255, 255);
    stroke: rgb(5, 87, 238);
}
.link-weight{
    padding: 5px;
    position: absolute;
    width: 75px;
}
.axis line {
    fill: none;
    stroke: rgb(132, 174, 236);
    shape-rendering: crispEdges;
}
.link-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    fill: blue;
}
   @keyframes  selected-anim {
    from {
        stroke: blue;
        stroke-width: 1px;
    }
    50% {
        stroke: rgb(0, 255, 136);
        stroke-width: 3px;
    }
    to {
        stroke: blue;
        stroke-width: 1px;
    }
}
.circle-selected circle{
    animation: selected-anim 2s linear infinite;
}
.arrowHead{
    fill: green;
}